section.big-slider
    .big-slider__center.center
        .big-slider__img
            .big-slider__losung
                h1.big-slider__big-text the brand
                h3.big-slider__text of luxurious
                    .big-slider__text_rose fashion
.sales
    section.sales__center.center
        .sales__left
            .sales__item.sales__item_big
                img.sales__img(src="./img/offer_1.jpg")
                .sales__info
                    h4.sales__text hot deal
                    h2.sales__big-text for men
            .sales__item.sales__item
                img.sales__img(src="./img/offer_3.jpg")
                .sales__info
                    h4.sales__text luxurious & trendy
                    h2.sales__big-text accessories
        .sales__right
            .sales__item.sales__item
                img.sales__img(src="./img/offer_2.jpg")
                .sales__info
                    h4.sales__text 30% offers
                    h2.sales__big-text women
            .sales__item.sales__item_big
                img.sales__img(src="./img/offer_4.jpg")
                .sales__info
                    h4.sales__text new arrivals
                    h2.sales__big-text for kids

.products
    .products__center.center
        header.products__header
            .products__big-text Featured Items
            .products__text Shop for items based on want we featured in this week
        section.products__container
            article.products__product.product
                img.product__img(src="./img/cart_1.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
            article.products__product.product
                img.product__img(src="./img/cart_2.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
            article.products__product.product
                img.product__img(src="./img/cart_3.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
            article.products__product.product
                img.product__img(src="./img/cart_4.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
            article.products__product.product
                img.product__img(src="./img/cart_5.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
            article.products__product.product
                img.product__img(src="./img/cart_6.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
            article.products__product.product
                img.product__img(src="./img/cart_7.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
            article.products__product.product
                img.product__img(src="./img/cart_8.jpg")
                .product__title mango people t-shirt
                .product__price $52.00
        footer.products__footer
            a.products__button(href="#") Browse All Product

.features
    section.features__center.center
        .features__image
            .features__big-text 30%
                .feature__big-text_rose offer
            .features__text for women
        .features__content
            article.feature-item
                .feature-item__icon.feature-item__icon_ico-1
                .feature-item__container
                    h1.feature-item__big-text Free Delivery
                    p.feature-item__text Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
            article.feature-item
                .feature-item__icon.feature-item__icon_ico-2
                .feature-item__container
                    h1.feature-item__big-text Free Delivery
                    p.feature-item__text Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
            article.feature-item
                .feature-item__icon.feature-item__icon_ico-3
                .feature-item__container
                    h1.feature-item__big-text Free Delivery
                    p.feature-item__text Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.