footer
    section.subscribe
        .subscribe__center.center
            .subscribe__left
                article.opinion#option_1
                    img.opinion__img(src="./img/girl_img.png")
                    p.opinion__content “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentua. Aliquam condimentum mattis neque sed pretium”
                .opinion__buttons
                    .opinion__button
                    .opinion__button.opinion__button_select
                    .opinion__button
            .subscribe__right
                h3.subscribe__title subscribe
                h5.subscribe__info for our newsletter and promotion
                form.subscribe__form
                    input.subscribe__input(placeholder="Enter Your Email")
                    button.subscribe__button Subscribe
    .information__center.center
        .information__cell
            .information__logo.logo
            p.information__text Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships. <br><br>Efficiently plagiarize 24/365 action items and focused infomediaries.<br>Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
        .information__cell
            .information__title company
            ul.information__ulist
                li.information__list
                    a.information__link(href="") Home
                li.information__list
                    a.information__link(href="") Shop
                li.information__list
                    a.information__link(href="") About
                li.information__list
                    a.information__link(href="") How It Works
                li.information__list
                    a.information__link(href="") Contact
        .information__cell
            .information__title information
            ul.information__ulist
                li.information__list
                    a.information__link(href="") Tearns & Condition
                li.information__list
                    a.information__link(href="") Privacy Policy
                li.information__list
                    a.information__link(href="") How to Buy
                li.information__list
                    a.information__link(href="") How to Sell
                li.information__list
                    a.information__link(href="") Promotion
        .information__cell
            .information__title hop category
            ul.information__ulist
                li.information__list
                    a.information__link(href="") Men
                li.information__list
                    a.information__link(href="") Woman
                li.information__list
                    a.information__link(href="") Child
                li.information__list
                    a.information__link(href="") Apparel
                li.information__list
                    a.information__link(href="") Brows All
    .footer
        .footer__center.center
            .footer__copyrights &copy;2017 Brand All Rights Reserved
            .footer__socials
                a.footer__link.footer__link_fb(href="#")
                a.footer__link.footer__link_tw(href="#")
                a.footer__link.footer__link_in(href="#")
                a.footer__link.footer__link_pr(href="#")
                a.footer__link.footer__link_gp(href="#")