header.header
    .header__center.center
        a.header__logo.logo(href="./index.html")
        .header__search-container
            button.header__button.header__button_browse Browse
            .header__drop-down-conainer
                h3.header__drop-down-title women
                ul.header__drop-down-ulist
                    li.header__drop-down-list Dresses
                    li.header__drop-down-list Tops
                    li.header__drop-down-list Sweaters/Knits
                    li.header__drop-down-list Jackets/Coats
                    li.header__drop-down-list Blazers
                    li.header__drop-down-list Denim
                    li.header__drop-down-list Leggings/Pants
                    li.header__drop-down-list Shirts/Shorts
                    li.header__drop-down-list Accessories
                h3.header__drop-down-title men
                ul.header__drop-down-ulist
                    li.header__drop-down-list Tees/Tank tops
                    li.header__drop-down-list Shirt/Polos
                    li.header__drop-down-list Sweaters
                    li.header__drop-down-list Sweatshirts/Hoodies
                    li.header__drop-down-list Blazes
                    li.header__drop-down-list Jackets/Vests

            input.header__input(placeholder="Search for Item...")
            button.header__button.header__button_search
        .header__acc-container
            a.header__shop-cart(href="./shopping-cart.html")
            //.header__drop-down-conainer
                //.header__shop-cart-count 2
            button.header__button-acc My Account