mixin dropMenu()
    .nav__drop-conainer
        .nav__drop-cell
            h3.nav__title women
            ul.nav__c-ulist
                li.nav__c-list
                    a.nav__c-link(href="#") Dresses
                li.nav__c-list
                    a.nav__c-link(href="#") Tops
                li.nav__c-list
                    a.nav__c-link(href="#") Sweaters/Knits
                li.nav__c-list
                    a.nav__c-link(href="#") Jackets/Coats
                li.nav__c-list
                    a.nav__c-link(href="#") Blazers
                li.nav__c-list
                    a.nav__c-link(href="#") Denim
                li.nav__c-list
                    a.nav__c-link(href="#") Leggings/Pants
                li.nav__c-list
                    a.nav__c-link(href="#") Skirts/Shorts
                li.nav__c-list
                    a.nav__c-link(href="#") Accessories
        .nav__drop-cell
            h3.nav__title women
            ul.nav__c-ulist
                li.nav__c-list
                    a.nav__c-link(href="#") Dresses
                li.nav__c-list
                    a.nav__c-link(href="#") Tops
                li.nav__c-list
                    a.nav__c-link(href="#") Sweaters/Knits
                li.nav__c-list
                    a.nav__c-link(href="#") Jackets/Coats
            h3.nav__title women
            ul.nav__c-ulist
                li.nav__c-list
                    a.nav__c-link(href="#") Dresses
                li.nav__c-list
                    a.nav__c-link(href="#") Tops
                li.nav__c-list
                    a.nav__c-link(href="#") Sweaters/Knits
        .nav__drop-cell
            h3.nav__title women
            ul.nav__c-ulist
                li.nav__c-list
                    a.nav__c-link(href="#") Dresses
                li.nav__c-list
                    a.nav__c-link(href="#") Tops
                li.nav__c-list
                    a.nav__c-link(href="#") Sweaters/Knits
                li.nav__c-list
                    a.nav__c-link(href="#") Jackets/Coats
            .nav__cimg
                img.nav__img(src="./img/super-save.jpg")

nav.nav__center.center
    ul.nav__ulist
        li.nav__list
            a.nav__link(href="./index.html") home
            +dropMenu()
        li.nav__list
            a.nav__link(href="#") man
            +dropMenu()
        li.nav__list
            a.nav__link.nav__link_active(href="#") women
            +dropMenu()
        li.nav__list
            a.nav__link(href="#") kids
            +dropMenu()
        li.nav__list
            a.nav__link(href="#") accoseriese
            +dropMenu()
        li.nav__list
            a.nav__link(href="#") featured
            +dropMenu()
        li.nav__list
            a.nav__link(href="#") hot deals
            +dropMenu()