include state/head
    body
        .container
            include state/header
            include state/nav
            main
                include main/shoping-cart-main
            include state/footer